<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <gazebo>
        <plugin name='differential_drive_controller' filename='libgazebo_ros_diffdrive.so'>
       
            <!-- Plugin update rate in Hz -->
            <updateRate>10</updateRate>

            <!-- Wheel Information -->
            <leftJoint>left_wheel_joint</leftJoint>
            <rightJoint>right_wheel_joint</rightJoint>
            <wheelSeparation>0.35</wheelSeparation>
            <wheelDiameter>0.1</wheelDiameter>
    

            <!-- Limits -->
            <wheelTorque>200</wheelTorque>
            <wheelAcceleration>10.0</wheelAcceleration>
    

            <!-- Output -->
            
            <odometryFrame>odom</odometryFrame>

            <robotBaseFrame>base_link</robotBaseFrame>

            <publishOdom>true</publishOdom>
            
            <publishOdomTF>true</publishOdomTF>
           
            <publishWheelTF>true</publishWheelTF>
    
    
        </plugin>
    </gazebo>
</robot>